{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}



{% block content %}


<div id="author-container">  
    <h2>stories by {{ author }}</h2>
</div>

        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
        <p>No Stories Available </p>
        {% endif %}
    


{% endblock %}